<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyBlogSpot</title>
    @* MaterializeCSS *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    @* Icons *@
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @* Fonts *@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital@0;1&display=swap" rel="stylesheet">
    @* Stylesheet *@
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="fill-height">
    <header>
        <nav class="grey darken-4">
            <div class="nav-wrapper">
                <div class="row">
                    <div class="col s10 offset-s1">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="brand-logo"> MyBlogSpot </a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li>
                                <a href="Account/Login">
                                    <i class="material-icons small left"> person </i> Login
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="fill-height">
        @RenderBody()
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>