html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.brand-logo {
    font-family: 'Raleway', sans-serif;
}

.fill-height {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.landing {
    background: url(../assets/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    .landing > .container {
        height: 100%;
    }

        .landing > .container > .row {
            position: relative;
            top: 50%;
            transform: translateY(-60%);
        }

.landing-fill {
    height: -webkit-fill-available;
}
/* Display */
.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-grow-0 {
    flex-grow: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.ma-0 {
    margin: 0 !important;
}

.my-4 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-4 {
    margin-bottom: 16px;
}

.pa-0 {
    padding: 0 !important;
}

.pb-4 {
    padding-bottom: 16px !important;
}

.pa-6 {
    padding: 24px;
}

/* Icons */
.left {
    margin-right: 4px;
}

.right {
    margin-left: 4px;
}

/* Font */
.card-title {
    font-family: 'Raleway', sans-serif;
}

/* Create */
input#subject,
textarea {
    border: none;
    box-shadow: none;
}

input#subject {
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
}

textarea, p, span {
    height: auto;
    color: white;
}

    textarea:focus {
        outline: none;
    }

    textarea#description {
        resize: none;
    }

    textarea#body {
        height: calc(100vh - 373px);
        resize: vertical;
    }

hr {
    border-width: 0.5px;
    border-color: rgba(255, 255, 255, 0.1);
    margin: 16px 0;
}

.blog-heading {
    padding: 20px;
    margin: 0px;
    color: white;
    background-color: #282828 !important;
}

.sizing {
    min-width:600px;
}

small {
    color: #7a7a7a !important
} 