@model List<MyBlogSpot.ViewModels.BlogPrevViewModel> 

<!--Getting data -->
@foreach(var blog in Model)
{
    <li>@blog.Description</li>
    <li>@blog.DateInserted</li>
    <li>@blog.Pseudonym</li>
    <li>@blog.Subject</li>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
